.message {
    display: grid;
    grid-template-rows: 1fr 12px;
    justify-content: flex-end;
}

.imageAndText {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    position: relative;
    text-align: end;
    max-width: 500px;
    min-height: 60px;
    background: #0066CC;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 10px 10px 0 10px;
    padding: 7px 15px 8px 13px;
    margin-right: 13px;
}

.text::after {
    content: ''; 
    position: absolute;
    right: 0; bottom: 0; /* Положение треугольника */
    border: 13px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid #0066CC; /* Добавляем треугольник */
    transform: translateX(50%);
}

.name {
    min-width: 40px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.messageText {
    word-wrap: break-word;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.time {
    width: 26px;
    height: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    margin-top: 5px;
    justify-self: end;
    transform: translateX(-40%);
}



