.stand {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 90px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 90px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 100px;
}
