.buttonsContainer {
    margin-top: 27px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.clock {
    margin-top: 26px;
}

.watch {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.watch strong {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.more {
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}