.friendMessage {
    display: grid;
    grid-template-rows: 1fr 12px;
    justify-content: flex-start;
}

.friendImageAndText {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    position: relative;
    text-align: start;
    max-width: 500px;
    min-height: 60px;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 10px 10px 10px 0;
    padding: 7px 13px 8px 15px;
    margin-left: 13px;
}

.friendText::after {
    content: ''; 
    position: absolute;
    left: 0; bottom: 0; /* Положение треугольника */
    border: 13px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid #F5F7FB; /* Добавляем треугольник */
    transform: translateX(-50%);   
}

.friendName {
    min-width: 40px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.friendMessageText {
    word-wrap: break-word;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;


}

.friendTime {
    width: 26px;
    height: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    margin-top: 5px;
    justify-self: flex-start;
    transform: translateX(40%);
}
