.button {
    cursor: pointer;
    padding: 5px 24px;
    height: 30px;
    border: none;
    border-radius: 3px;
    outline: none;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.disabled {
    background: #004D99;

    color: #002E5C;
}

.secondary {
    border: 1px solid #0066CC;
    background-color: #FFFFFF;

    color: #0066CC;
}

.default {
    background: #0066CC;
}

.red {
    background: #CC1439;
}

.default:hover {
    background: #0080FF;
}

.red:hover {
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
}

.default:active {
    background: #0059B3;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #B31232;
}

.button:disabled {
    opacity: 0.5;
}
